.section{
  background-color: bisque;
  min-height: 680px;
  height: fit-content;
  padding: 10px 80px 10px 80px;
  width: auto;
}
/* HOME */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
}
.home-title {
  font-size: 7vw;
  text-align-last:end ;
  padding: 0 15% 0 15%;
  position: absolute;
  top: 25%;
  z-index: 99;
  margin-top: 0;
  /* mix-blend-mode:difference;
  color: rgb(255, 255, 255); */
  mix-blend-mode:difference;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.container-rectangle{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.rectangles{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.rectangle{
  width: 20%;
  height: 30vw;
}
.stack1{
  background-color: rgb(78, 226, 167);
  margin-top: -10px;
  margin-right: 50px;
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  /* background-color: #000000; */
  border: 2px solid black;
  box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -webkit-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -moz-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
}
.stack2{
  background-color: rgb(255, 23, 23);
  position: absolute;
  z-index: 1;
  top: 17%;
  /* background-image: #000; */
  /* background-color: #000000; */
  border: 2px solid black;
  box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -webkit-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -moz-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);

}
.stack3{
  background-color: rgb(246, 166, 16);
  margin-top: 10px;
  border: 2px solid black;
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  /* background-color: #000000; */
  box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -webkit-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  -moz-box-shadow: 15px 19px 19px -9px rgba(0,0,0,0.41);
  /* background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); */
}
.home-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}
.home-footer p{
  width: 250px;
  font-size: medium;
}
.circle{
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100%;
}

/* TEAM */
.team{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border-bottom: 3px solid black; */
}
.team-title{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 30px 0 30px 0;
}
.txt-bg-black{
  background-color: black;
  color: white;
  padding-right: 80px;
}
.members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.member{
  position: relative;
  margin-bottom: 50PX;
  width: 410px;
  /* min-width: 450px; */
  /* color: white; */
}
.profile-pict{
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* color: black; */
  
}
.profile-role{
  position: absolute;
  top: 0;
  left: 100px;
  mix-blend-mode: difference;
  color: #ffffff;
  /* mix-blend-mode:color-dodge;
  color: rgb(0, 0, 0);
  background-color: #ffffff; */
}
.desc-role{
  width: 150px;
  font-size: 15px;
  position: absolute;
  top: 40px;
  left: 220px;
}

/* CLIENTS */
.clients{
  background-color: #84fab0;
  text-align: center;
  position: relative;
  min-height: 130px;
  height: auto;
  padding-top: 50px;
}
.clients h3{
  position: absolute;
  top: -17%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(#000000, #7fffae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.client-logos{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo{
  width: 200px;
}

/* PROJECTS */
.projects{
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid black;
}
.projects h2{
  margin: 30px 0 30px 0;
}
.projects-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-col{
  width: 45%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}
.project{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.project-img-container{
  width: 230px;
  margin-right: 20px;
}
.project-pict{
  object-fit: cover;
  width: auto;
  height: 230px;
}
.project-name{
  font-weight: 700;
  text-align: center;
}
.project-desc{
  width: 250px;
  margin-top: 50px;
}
.end{
  justify-content: end;
  text-align: end;
  margin-right: 20px;
}
.col-reverse{
  flex-direction: column-reverse;
  padding-left: 40px;
}

/* CONTACT */
.contact{
  display: flex;
  flex-direction: row;
}
.contact-text-container{
  width: 65%;
}
/* .contact-text-container h2{
  width: 700px;
  text-align: end;
  margin-top: 100px;
} */
.contact-tagline{
  width: 95%;
  text-align: end;
  margin-top: 100px;
  align-self: end;
}
.contact-info{
  margin-top: 20%;
}
.contact-img-container{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.contact-img{
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
}
.contact-web{
  margin-top: 20%;
}
.inverted-txt{
  color: white;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
.circle-sm{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  /* margin-left: 90%; */
  
}

@media (max-width: 959px) {
  .col-reverse{
    flex-direction: column;
    padding-left: 0;
  }
  .projects-row{
    justify-content: center;
  }
  
}

@media (max-width: 768px) {
  .section{
    min-height: 600px;
  }
  .home-footer{
    margin-top: 60px;
  }
  .rectangle{
    width: 150px;
    height: 220px;
  }
  .stack2{
    top: 20%;
  }
  
  .clients{
    padding-top: 30px;
  }
}

@media (max-width: 600px) {
  .section{
    padding: 0 10px 0 10px;
  }

  .members{
    justify-content: space-around;
  }
  .txt-bg-black{
    padding-right: 0;
  }
  .member{
    display: flex;
    flex-direction: column;
    min-width: none;
    width: 200px;
  }
  .profile-role{
    position: static;
  }
  .desc-role{
    position: static;
    width: 100%;
  }
  

  .clients h3{
    top: -12%;
  }
  .logo{
    padding: 10px 0 10px 0;
  }

  .contact{
    flex-direction: column-reverse;
  }
  .contact-img-container{
    align-items: center;
  }
  .contact-img{
    width: 300px;
    height: 300px;
  }
  .circle-sm{
    align-self: end;
  }
  .contact-text-container{
    width: 100%;
  }
  .contact-tagline{
    text-align: start;
    margin-top: 10px;
  }
  .contact-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .contact-web{
    margin-top: 0;
  }
}

@media (max-width: 410px) {
  .project{   
    flex-wrap: wrap;
    justify-content: center;
  }
.end{
  display: flex;
  flex-direction: column-reverse;
  margin-right: 0;
  align-content: center;
  text-align: center;
}
.projects-col{
  min-width: 300px;
}
.col-reverse{
  padding-left: 0;
}

.clients h3{
  top: -8%;
}
}